#editors {
    display: flex;
    gap: 30px;
}

/*
.editor-container {
    width: 200px;
    height: 200px;
}
*/

.editor {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
}

.editor p {
    margin: 0;
}