#editors {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.editor {
}

.content {
    min-height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    overflow-wrap: break-word;
    line-break: anywhere;
}

.editor p {
    margin: 0;
}